<!doctype html>
<html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.png') }}"/>
    <title>Free chat</title>
</head>
<body>
    <!-- FLASH WAY -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <!-- The Modal for Settings -->
        <div id="myFlashModal" class="flash_modal">
           <!-- Modal content for Settings-->
           <div class="flash_modal_content">
               <span class="close flash_close">&times;</span>
               <ul class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </ul>
           </div>
        </div>
    {% endif %}
    {% endwith %}

<!-- HEADER - profile + search + logo -->
<header>
    <!-- PROFILE -->
        <!-- If user is logged in -->
        {% if not visitor %}
            <div id="profile_container">
                <a href="{{ url_for('profile', user_id=user_id) }}">
                    <div id="profile_container_image">
                        <img src="{{ img_src }}" alt="Profile picture" id="profile_picture_center"/>
                    </div>
                    <div id="profile_container_description">
                        {{ username }} <br>
                        {% if admin %}
                        Admin
                        {% elif owner %}
                        Owner
                        {% elif moderator %}
                        Moderator
                        {% elif member %}
                        Member
                        {% else %}
                        User
                        {% endif %}
                    </div>
                </a>
            </div>
        <!-- If he is a visitor -->
        {% else %}
            <div id="profile_container">
                <div id="profile_container_image">
                    <img src="{{ img_src }}" alt="Profile picture" id="profile_picture_center"/>
                </div>
                <div id="profile_container_visitor">
                    <span class="visitor_title">Visitor</span>
                </div>
            </div>
        {% endif %}

    <!-- SEARCH -->
    <div id="search_bar_box">
        <!-- TODO searchbar -->
        <form action="{{ url_for('search') }}" method="POST" id="search_bar_form" >
            <input type="text" placeholder="Search.." name="search" id="search_bar_input">
            <a href="#" type="submit" onclick="submit_form()">
                <div class="search_icon"></div>
            </a>
        </form>
    </div>

    <!-- LOGOUT or LOGIN for visitor -->
    {% if not visitor %}
    <div class="logout_container">
        <a href="{{ url_for('logout') }}">
            <button>Logout</button>
        </a>
    </div>
    {% else %}
    <div class="logout_container">
        <a href="{{ url_for('login') }}">
            <button>Login</button>
        </a>
    </div>
    {% endif %}
</header>

    <!-- ARTICLE - left panel[create new group, groups] + right panel [creating new group, creating new thread, threads] -->
    <article>
        <!-- LEFT PANEL -->
        <div id="left_panel">
            
            <!-- GROUPS -->
            <div class="lp_gn">GROUPS</div>

            <!-- OWNER -->
            {% if gowner %}
                <div class="lp_gt">Owner</div>
                {% for group in gowner %}
                <a href="{{ url_for('group', group_id=group[0].ID) }}">
                    <div class="group_container">
                        <div class="left_panel_group_picture_container">
                            <img src="{{ group[1] }}" alt="Group icon" class="left_panel_group_picture">
                        </div>
                        <div class="left_panel_group_text">
                            <span class="left_panel_group_title"><h3>{{ group[0].Name.replace("_", " ") }}</h3></span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}

            <!-- MODERATOR -->
            {% if gmoderator %}
                <div class="lp_gt">Moderator</div>
                {% for group in gmoderator %}
                <a href="{{ url_for('group', group_id=group[0].ID) }}">
                    <div class="group_container">
                        <div class="left_panel_group_picture_container">
                            <img src="{{ group[1] }}" alt="Group icon" class="left_panel_group_picture">
                        </div>
                        <div class="left_panel_group_text">
                            <span class="left_panel_group_title"><h3>{{ group[0].Name.replace("_", " ") }}</h3></span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}

            <!-- MEMBER -->
            {% if gmember %}
                <div class="lp_gt">Member</div>
                {% for group in gmember %}
                <a href="{{ url_for('group', group_id=group[0].ID) }}">
                    <div class="group_container">
                        <div class="left_panel_group_picture_container">
                            <img src="{{ group[1] }}" alt="Group icon" class="left_panel_group_picture">
                        </div>
                        <div class="left_panel_group_text">
                            <span class="left_panel_group_title"><h3>{{ group[0].Name.replace("_", " ") }}</h3></span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </div>


        <!-- RIGHT PANEL-->
        <div class="right_panel">
            <div class="for_back_button">
                <!-- Go back -->
                <a href="{{ url_for('group', group_id=group_id) }}">
                    <button class="float_left">
                        &#10094; Back
                    </button>
                </a>
            </div>
            <!-- Notifications -->
            <div class="group_rc">                             
                <br><h1>Notifications</h1><br><hr>

                <!-- Request mod -->
                {% if notifications %}
                {% for notification in notifications %}
                    <div class="notification_container">
                        User 
                        <a href="{{ url_for('profile', user_id=notification[0].ID) }}">
                            <b>{{ notification[0].Login }}</b>
                        </a>
                        {% if notification[1] %}
                            wants to become a member in your group.
                        {% else %}
                            wants to become a moderator in your group.
                        {% endif %}
                        <br><br>
                        {% if owner or (moderator and notification[1]) %}
                        <a href="{{ url_for('accept_application', application_id=notification[2])}}">
                            <button>Accept</button>
                        </a>

                        <a href="{{ url_for('reject_application', application_id=notification[2]) }}">
                            <button>Reject</button>
                        </a>
                        {% endif %}
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </article>
</body>

 <!-- JavaScript -->
<script type="text/javascript">
    // Get the modal
    var modal = document.getElementById("myFlashModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
</html>
</doctype>